{% extends 'core/base.html' %}

{% block title %}{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'exercise/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meal/css/styles.css' %}">
    <div class="navbar">
        <div class="top">
            <div class="fitmate">Fitmate!</div>
            <div class="spacer"></div>
            <div class="right-section">
                <a class="logout-button"href="{% url "user:my_login" %}">LOG OUT</a>
            </div>

        </div>
        <div class="bottom">
            <div class="sections">
                <a class="sections-item"href="{% url "core:dashboard" %}">Dashboard</a>
                 <a class="sections-item"href="{% url "meal:index" %}">Meals</a>
                 <a class="sections-item sections-item-active"href="{% url "exercise:index" %}">Exercises</a>

            </div>
        </div>

    </div>
    <div>
        {% block main_content %}
        {% endblock %}
    </div>
{% endblock %}