<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meal/css/styles.css' %}">

    <title></title>
</head>

<div class="form-container">
    <div class="entry-title">
        <p>{{ exercise_name }}</p>
    </div>
    <form method="POST" id="addExerciseForm">
        {% csrf_token %}
        <input type="hidden" name="date" value="{{ request.GET.date }}">
        <div class="form-content">
            <div class="form-component">
                <label>{{ form.category.label_tag }}</label>
                {{ form.category }}
            </div>
            <div class="form-component">
                <label for="{{ form.duration.id_for_label }}">Duration (minutes):</label>
                {{ form.duration }}
            </div>
            <div class="form-component">
                <label>{{ form.notes.label_tag }}</label>
                {{ form.notes }}
            </div>

        </div>
        <div class="buttons-container">
            <button class="form-button" type="submit">Submit</button>
        </div>
    </form>
</div>
