{% extends 'core/exercises.html' %}

{% block title %}Exercises{% endblock %}

{% block main_content %}
    <head>
        <title>Exercises</title>
    </head>
    <div class="add-food-date-section">
        <div class="date-navigation-box">
            {% if next_date is None %}
                <a href="?date={{ prev_date }}" class="nav-button">&lt;</a>
                <span style="margin-right: 40px;">Today</span>
            {% else %}
                <a href="?date={{ prev_date }}" class="nav-button">&lt;</a>
                <span>{{ date }}</span>
                <a href="?date={{ next_date }}" class="nav-button">&gt;</a>
            {% endif %}


        </div>
        <a href="{% url 'exercise:add' %}?date={{ date|date:"Y-m-d" }}" class="add-food-button">Add Exercise</a>
    </div>

    <div class="my-title">My Exercises</div>
    <div class="main-exercise-section">
        <div class="exercise-section">
            {% if message %}
                <p>{{ message }}</p>
            {% else %}
                {% for exercise in exercise_entries %}
                        <div class="exercise-item">
                            <div class="exercise-item-name-burned">
                                <div class="exercise-item-name">
                                    <a href="{% url "meal:detail" exercise.pk %}"> {{ exercise.name }}</a>
                                </div>
                                <div class="exercise-item-burned">
                                    {{ exercise.duration }} mins &#183; {{ exercise.burned_calories }} cals
                                </div>
                            </div>
                        </div>
                {% endfor %}

            {% endif %}
        </div>
        <div class="stats-section">
            {% if message %}
                <p>No stats available for this day.</p>
            {% else %}


                <div class="stat-burned">
                    <span class="stat-title">burned calories</span>
                     <span class="burned-stat" style="text-align: center;">
                        {{ burned }} cals
                    </span>



                </div>

            {% endif %}
        </div>
    </div>



{% endblock %}