
.search-body{
    justify-content: center;
    align-items: center;
}

.search-form{
    min-height:200px;
}
.search-section{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #a1baa1;
    gap:0;
}


.search-box input{
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 300px;
    height: 30px;
    padding: 5px 10px;

}
.search-icon-div{

}
.search-icon-button{
    border: none;
    background-color: transparent;
}

.search-result-item, .recipe-item{
    padding: 5px 100px;
}

.no-results{
    margin: 60px 200px;
}
.search-result-item a{
    font-size: small;

    text-decoration: none;
    color: black;
    transition: font-weight 0.3s;

}
.search-result-item a:hover{
    font-weight: bold;

}

.recipe-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recipe-name{

}
.recipe-data{
    display: flex;
    flex-direction: column;
}
.recipe-cal{

}
.recipe-cpf{

}
.form-component input,
.form-component select{
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-component label{
    padding:0;
    margin: 0;
}

.modal-custom{
    background-color: rgb(241, 248, 232);
    border-radius: 12px;
}

.add-food-date-section{

    width: 100%;
    background-color: rgba(85, 173, 155, 0.2);
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 0;
    justify-content: space-between;
    margin-right: 40px;
    gap: 40px;

}

.no-entries{
    margin: auto;
    font-weight: 600;
    font-size: large;
}

.date-navigation-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right:30px;
}
.navigate-date{
    justify-content: space-evenly;

}
.select-date{
    justify-content: center;
}
a.nav-button{
    color: black;
    font-size: large;
    text-decoration: none;
    font-weight: 300;
}


.add-food-button{
    background-color: #55AD9B;
    box-shadow: 0 0 20px rgba(100, 100, 100, 0.25);
    padding: 10px 20px;
    margin-left:30px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 15px;
    transition: filter 0.1s;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: medium;
    border:none;
}

.add-food-button:hover{
    filter: brightness(1.05);
    border:none;
}

.add-food-button:active{
    filter: brightness(1.1);
    border:none;
}

.my-title{
    margin: 40px 20px;
    font-size: xx-large;
    font-weight: bold;

}
.main-meal-section{
    margin: 20px 20px;
    display: flex;
}
.meal-section{
    display: flex;
    flex-direction: column;
    width: 55%;
    border-radius: 20px;
    background-color: rgb(241, 248, 232);
    box-shadow: 3px 3px 0 rgba(204, 204, 190, 0.74);
    padding: 30px;

}
.stats-section{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.meal-time{
    font-size: large;
    font-weight: bold;
    padding: 10px;
    color: #55AD9B;
}

.food-item{
    margin-left: 10px;

}

.food-item-name-quantity{
    display: flex;
    flex-direction: row;

}

.food-item-name{
    font-weight: bold;
    display: flex;
    text-decoration: none;
    flex: 1;
}
.food-item-name a{
    color: black;
    text-decoration: none;

}
.food-item-calories{
    font-weight: bold;
    display: flex;
    flex: 1;
}

.stat-box{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 248, 232);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    align-items: center;
    width: 130px;
    height: 180px;
    padding: 15px;
    box-shadow: 3px 3px 0 rgba(204, 204, 190, 0.74);

}
.eaten-stat{
    display: flex;
    font-weight: bold;
    font-size: x-large;
    margin: 10px;
}
.total-stat{
    display: flex;
    text-align: center;
    font-size: small;
    line-height: 100%;
}
.stat-title{
    text-align: center;
    display: flex;
    color: rgba(0, 0, 0, 0.12);
    margin-top: 0;

}

.back-section{
    display: flex;
    margin-left: 20px;
}
.edit-delete-section{
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    gap:100px;
}
a.edit-btn, a.back-btn, a.delete-btn{
    display: flex;
    background-color: #55AD9B;
    box-shadow: 0 0 20px rgba(100, 100, 100, 0.25);
    width: 120px;
    padding: 5px 30px;
    margin-right: 20px;
    border-radius: 17px;
    transition: filter 0.1s;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    color: white;
    font-size: medium;
}

.edit-btn:hover, .back-btn:hover, .delete-btn:hover{
    filter: brightness(1.05);
}

.edit-btn:active, .back-btn:active, .delete-btn:active{
    filter: brightness(1.1);
}

.entry-title{
    font-size: large;
    font-weight: bold;
    margin: auto;
    padding-bottom: 30px;
}

.meal-title-and-stats{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-information-table{
    margin: auto;

}
.entry-information-table th,
.entry-information-table td {
    font-size: small;
    padding: 2px 40px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    margin: auto;
    margin-top:30px;

}

.form-content{
    display: flex;
    flex-direction: column;

}

.form-label{
    font-size: medium;

}


.form-button{
    background-color: #55AD9B;
    font-size: medium;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px 30px;
    box-shadow: 0 0 20px rgba(100, 100, 100, 0.25);
    margin-top: 20px;
    transition: filter 0.1s;
    text-decoration: none;
}

.form-button:hover{
    filter: brightness(1.05);
}

.form-button:active{
    filter: brightness(1.1);
}
.title-and-get-plan{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.get-nutrition{
    color: #9d9c9c;
    padding-top: 10px;
    text-decoration: none;
    font-size: small;
    transition: filter 0.3s, font-weight 0.3s;
    border: none;
    background-color: transparent;
}

.get-nutrition:hover{
    text-decoration: none;
    color: #9d9c9c;
    filter: brightness(0.8);
    font-weight: 500;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navigate-date{
    width:400px;
    display: flex;
    flex-direction: row;
}
.warning-div{
    display: flex;
    justify-content: center;
    padding-left: 55px;
    width: 70%;
}
.cal-warning{
    align-self: center;
    padding: 10px;
    border-radius: 12px;
    justify-self: center;
    background-color:rgba(85, 173, 155, 0.2);
    color: #55AD9B;
    width: 85%;
}

.stats-and-warning{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}



#datepicker {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#datepicker:hover {
    border-color: #999;
}

#datepicker:focus {
    border-color: #999;
    outline: none;
}
.form-component-column{
    display: flex;
    flex-direction: column;
}
.form-component-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.recipe-form-component input
{
    margin: 10px;
    padding: 3px;
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
.recipe-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top:30px;
}
.keyword input{
    width: 300px;
    margin-left: 220px;
}
.labels-column{
    gap:6px;
}
.recipe-form-item{
    background-color: rgba(85, 173, 155, 0.24);
    padding: 6px;
    border-radius: 10px;
    margin-right: 10px;
}
.button-container{
    display: flex;
    justify-content: end;
}

.recipe-search-body{
    display: flex;
    flex-direction: row;
}
.main-content{
    margin-top: 120px;
}