<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meal/css/styles.css' %}">

    <title></title>
</head>

<!-- meal/add.html -->
<div class="form-container">
    <form method="POST" id="addFoodForm">
        {% csrf_token %}
        <div class="form-content">
            <input type="hidden" name="date" value="{{ request.GET.date }}">
            <div class="form-component">
                <label>{{ form.quantity.label_tag }}</label>
                {{ form.quantity }}
            </div>
            <div class="form-component">
                <label>{{ form.meal_time.label_tag }}</label>
                {{ form.meal_time }}
            </div>
            <div class="form-component">
                <label for="{{ form.serving.id_for_label }}">{{ form.serving.label_tag }}</label>
                {{ form.serving }}
            </div>
        </div>
        <button type="submit" class="form-button">Submit</button>
    </form>
</div>
