{% extends 'core/meals.html' %}

{% block title %}Add Food{% endblock %}

{% block main_content %}
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'meal/css/styles.css' %}">
        <title>Add Food</title>
    </head>
    <div class="form-container">
        <div class="entry-title">
            <p>{{ food_name }}</p>
        </div>
        <form method="POST" action="?date={{ date }}">
            {% csrf_token %}
            <div class="form-content">
                <div class="form-component">
                    <label>{{ form.quantity.label_tag }}</label>
                    {{ form.quantity }}
                </div>
                <div class="form-component">
                    <label>{{ form.meal_time.label_tag }}</label>
                    {{ form.meal_time }}
                </div>
                <div class="form-component">
                    <label for="{{ form.serving.label_tag }}"></label>
                    {{ form.serving }}
                </div>

            </div>
            <div class="form-button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}