{% extends 'core/meals.html' %}

{% block title %}Add Food{% endblock %}

{% block main_content %}
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'meal/css/styles.css' %}">
        <title>Add Food</title>
    </head>
    <div class="form-container">
        <div class="entry-title">
            <p>{{ food_name }}</p>
        </div>
        <form method="POST" action="?date={{ date }}">
            {% csrf_token %}
            <div class="form-content">
                <span class="form-label">{{ form.quantity.label_tag }}</span> <span
                    class="form-input">{{ form.quantity }}</span>
                {{ form.meal_time.label_tag }} {{ form.meal_time }}
                {{ form.serving.label_tag }} {{ form.serving }}
            </div>
            <div class="form-button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}