<div class="main-container">
                    <div>
                        <p>Tell us your activity level.</p>
                    </div>
                    <div class="activity-form">
                        <div class="activity-container">
                            {% for choice in profile_form.activity_level %}
                                <div class="activity-form-control">
                                    {{ choice.tag }} <label
                                        for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                </div>
                            {% endfor %}
                            <div id="activity_level_error" class="error" style="display:none;"></div>
                        </div>
                        <div class="buttons-container">
                            <button type="button" class="form__button"
                                    onclick="showPrevSection()">Back
                            </button>
                            <button type="button" class="form__button" onclick="showNextSection()">
                                Next
                            </button>
                        </div>
                    </div>
                </div>