{% extends 'core/base.html' %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/styles.css' %}">

    <div>
        <a class="login-button" href="{% url "user:my_login" %}">LOG IN</a>
    </div>
    <div class="form-container">
        <form method="POST" action=".">
            {% csrf_token %}
            <!-- welcome section -->
            <section class="welcome__page welcome__page--welcome welcome__page--active">
                <div class="main-container">
                    <div>
                        <p class="welcome-text">WELCOME TO FITMATE</p>
                    </div>
                    <div class="buttons-container-welcome">
                        <button type="button" class="form__button form__button--begin_button"
                                onclick="showNextSection()">
                            BEGIN
                        </button>
                    </div>

                </div>
            </section>

            <!-- get name section -->
            <section class="welcome__page welcome__page--get_name" style="display: none;">
                <div class="main-container">
                    <div>
                        <p>What should we call you?</p>
                    </div>
                    <div class="name-form">
                        <div class="name-box">
                            {{ profile_form.name }}
                        </div>

                        <div class="buttons-container">
                            <button type="button" class="form__button" onclick="showPrevSection()">
                                Back
                            </button>
                            <button type="button" class="form__button" onclick="showNextSection()">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- goals section -->
            <section class="welcome__page welcome__page--goals" style="display: none;">
                <div class="main-container">
                    <div>
                        <p>What is your main goal?</p>
                    </div>
                    <div class="goals-form">
                        <div class="goals-container">
                            {% for choice in profile_form.goal %}
                                <div class="goals-form-control">
                                    {{ choice.tag }} <label
                                        for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="buttons-container">
                            <button type="button" class="form__button"
                                    onclick="showPrevSection()">Back
                            </button>
                            <button type="button" class="form__button" onclick="showNextSection()">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- activity level section -->
            <section class="welcome__page welcome__page--activity_level" style="display: none;">
                <div class="main-container">
                    <div>
                        <p>Tell us your activity level.</p>
                    </div>
                    <div class="activity-form">
                        <div class="activity-container">
                            {% for choice in profile_form.activity_level %}
                                <div class="activity-form-control">
                                    {{ choice.tag }} <label
                                        for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="buttons-container">
                            <button type="button" class="form__button"
                                    onclick="showPrevSection()">Back
                            </button>
                            <button type="button" class="form__button" onclick="showNextSection()">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- physical/profile info section -->
            <section class="welcome__page welcome__page--profile_info" style="display: none;">
                <div class="main-container">
                    <div class="text-profile">
                        <p>We just need a little more info to create the best diet plan for you.</p>
                    </div>
                    <div class="profile-form">
                        <p style="text-align: center;">Choose your biological sex:</p>
                        <div class="sex-container">
                            {% for choice in profile_form.sex %}
                                <div class="sex-form-control">
                                    {{ choice.tag }} <label
                                        for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="age-h-w-container">
                            {{ profile_form.age }}
                            {{ profile_form.height }}
                            {{ profile_form.weight }}
                            {{ profile_form.goal_weight }}
                        </div>

                        <div class="buttons-container">
                            <button type="button" class="form__button" onclick="showPrevSection()">
                                Back
                            </button>
                            <button type="button" class="form__button" onclick="showNextSection()">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- sign up section -->
            <section class="welcome__page welcome__page--create_account welcome__page--active" style="display: none;">
                <div class="main-container">
                    <div class="signup-form">
                        {% for field in account_form %}
                            <div class="signup-form-field">
                                <label>{{ field.label_tag }}</label>
                                {{ field }}
                                <span class="form-help-text">{{ field.help_text }}</span>
                                <div class="form-error">
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-error">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="buttons-container">
                        <button type="button" class="form__button" onclick="showPrevSection()">
                            Back
                        </button>
                        <button type="submit" class="form__button">Sign Up</button>
                    </div>
                </div>
            </section>
        </form>
    </div>

    <script>
        let sectionIdx = 0;
        const sections = document.querySelectorAll('.welcome__page');

        function showNextSection() {

            if (formIsValid(sections[sectionIdx])) {
                sections[sectionIdx].style.display = 'none';
                sectionIdx++;
                sections[sectionIdx].style.display = 'block';
            }

        }

        function showPrevSection() {
            sections[sectionIdx].style.display = 'none';
            sectionIdx--;
            sections[sectionIdx].style.display = 'block';
        }

        function formIsValid(section) {
            let inputs = section.querySelectorAll('input');
            if (!inputs) return true;

            let radioIsChecked = false;

            for (let input of inputs) {
                if (input.type === 'text' || input.type === 'number') {
                    const value = input.value.trim()
                    if (!value) {
                        alert("Please fill the form.")
                        return false;
                    }
                }

                if (input.type === 'radio') {
                    if (input.checked) {
                        radioIsChecked = true
                    }
                }
            }
            if (section.querySelector('input[type=radio]') && !radioIsChecked) {
                alert("Please select an option.");
                return false;
            }
            return true;
        }
    </script>

{% endblock %}